ul, ol, li { list-style:none;padding:0;margin:0; }
.panel { border:1px solid #eee; }
.rolling { width: 300px; height:150px;margin:30px auto;}
.sample { text-align: center; }
.rolling ul {width:1000000px; float:left;position:absolute;}
.rolling li.panel { width: 100px;float:left;  border-radius: 0; box-shadow: none; border:0; background-color:#eee; }

.rollingHiehgt { width: 150px; height:300px;margin:30px auto;}
.rollingHiehgt ul { height:10000000px;position:absolute; }
.rollingHiehgt li.panel { width: 150px; height:100px; float:left;  border-radius: 0; box-shadow: none; border:0; background-color:#eee; }